apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.ServiceName}}
spec:
  replicas: {{.Replicas}}
  selector:
    matchLabels:
      app: {{.ServiceName}}
  template:
    metadata:
      labels:
        app: {{.ServiceName}}
    spec:
      containers:
      - name: component
        image: {{.ImageTag}}
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: "0.5"
            memory: "512Mi"
          requests:
            cpu: "0.2"
            memory: "256Mi"